fastapi
uvicorn[standard]
pydantic
openai
faster-whisper
sounddevice
numpy
python-dotenv
passlib[bcrypt]
pyjwt
tenacity
dotenv
httpx
python-multipart
websockets
aiohttp
aiortc
webrtcvad-wheels
streamlit


asyncio


